/**
 * Color definitions
 */
$green-extra-light: #CCEEEE;
$green-light:       #99CCCC;
$green:             #669999;
$green-dark:        #336666;
$green-extra-dark:  #000000;

$red-extra-light:   #FFEEEE;
$red-light:         #FF9999;
$red:               #FF6666;
$red-dark:          #CC3333;
$red-extra-dark:    #990000;

$white:             #FFFFFF;
$black:             #000000;

/**
 * Color implementation
 */
$heading-color:     $green-extra-dark;
$text-color:        $green-extra-dark;
