/**
 * Color definitions
 */
$green-extra-light: #cee;
$green-light:       #9cc;
$green:             #699;
$green-dark:        #366;
$green-extra-dark:  #000;

$red-extra-light:   #fee;
$red-light:         #f99;
$red:               #f66;
$red-dark:          #c33;
$red-extra-dark:    #900;

$white:             #fff;
$black:             #000;

/**
 * Color implementation
 */
$heading-color:     $green-extra-dark;
$text-color:        $green-extra-dark;
