/**
 * Colors
 */
$green-extra-light:   #cee;
$green-light:         #9cc;
$green:               #699;
$green-dark:          #366;
$green-extra-dark:    #033;

$red-extra-light:     #fee;
$red-light:           #f99;
$red:                 #f66;
$red-dark:            #c33;
$red-extra-dark:      #900;

$white:               #fff;
$grey-extra-light:    #eee;
$grey-light:          #ccc;
$grey:                #999;
$grey-dark:           #666;
$grey-extra-dark:     #333;
$black:               #000;

/**
 * Color implementation
 */
$primary-color:       $green;
$primary-hover:       $green-dark;
$secondary-color:     $red;
$secondary-hover:     $green-dark;

$header-background:   $white;
$body-background:     $white;
$footer-background:   $green-extra-dark;

/**
 * Typography
 */
$text-font:           ('Martel', serif);
$text-color:          $black;
$text-size:           1rem;
$text-small:          0.9rem;
$text-weight:         300;
$text-weight-bold:    900;

$heading-font:        ('Roboto condensed', sans-serif);
$heading-color:       $black;
$heading-weight:      700;
$h1-size:             4rem;
$h2-size:             2rem;
$h3-size:             1.333rem;
$h4-size:             1.222rem;
$h5-size:             1.111rem;
$h6-size:             1rem;

$line-height:         2em;
$line-height-medium:  1.5em;
$line-height-small:   1em;

$link-color:          $green;
$link-hover:          $green-dark;

/**
 * Dimensions
 */
$wrapper-width:       1440px;
$content-width:       840px;
$default-margin:      60px;
