.logo {
  color: $heading-color;
  font-family: $text-font;
  font-size: $h3-size;
  font-weight: $text-weight-bold;
  float: left;

  &:hover {
    text-decoration: none;
  }

  .open & {
    color: $white;

    &:hover {
      color: $green-light;
    }
  }
}
