.menu {
  @include full-width();
  display: none;
  margin: 1rem 0;

  @include breakpoint('large') {
    display: block;
    float: right;
    margin: 0;
    width: auto;
  }

  &__item {
    @include full-width();
    color: $heading-color;
    font-family: $heading-font;
    font-weight: $heading-weight;
    text-transform: uppercase;

    @include breakpoint('large') {
      margin-left: 2rem;
      width: auto;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .open & {
    display: block;

    &__item {
      color: $white;

      @include breakpoint('large') {
        color: $heading-color;
      }

      &:hover {
        color: $green-light;

        @include breakpoint('large') {
          color: $primary-hover;
        }
      }
    }
  }
}
