html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  @include breakpoint('medium') {
    font-size: 1.125em;
  }
}

*::before,
*::after,
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
