@mixin breakpoint($size) {

  $breakpoint: $size;

  @if $size == 'small' {
    $breakpoint: 480px;
  } @else if $size == 'medium' {
    $breakpoint: 640px;
  } @else if $size == 'large' {
    $breakpoint: 960px;
  } @else if $size == 'full' {
    $breakpoint: $wrapper-width;
  }

  @media (min-width: $breakpoint) {
    @content;
  }
}
