@mixin breakpoint($size) {

  $breakpoint: $size;

  @if $size == 'xsmall' {
    $breakpoint: map-get($breakpoints, 'xsmall');
  } @else if $size == 'small' {
    $breakpoint: map-get($breakpoints, 'small');
  } @else if $size == 'medium' {
    $breakpoint: map-get($breakpoints, 'medium');
  } @else if $size == 'large' {
    $breakpoint: map-get($breakpoints, 'large');
  } @else if $size == 'xlarge' {
    $breakpoint: map-get($breakpoints, 'xlarge');
  } @else if $size == 'full' {
    $breakpoint: map-get($breakpoints, 'full');
  }

  @media (min-width: $breakpoint) {
    @content;
  }
}
