@mixin column($columns, $margin: 20px) {
  $spacing: ($margin * ($columns - 1));

  float: left;
  margin-right: $margin;
  width: calc(#{100 / $columns}% - #{$spacing / $columns});

  &:nth-child(#{$columns}n) {
    margin-right: 0;
  }

  &:nth-child(#{$columns}n+#{$columns + 1}) {
    clear: left;
  }
}
