.post {
  @include full-width();
  margin-right: 20px;

  @include breakpoint('medium') {
    width: calc(50% - 20px);
  }

  @include breakpoint('large') {
    width: 33%;
  }

  &__image {
    width: 100%;
  }
}
