.header {
  @include container();
  padding-bottom: 1em;
  padding-top: 1em;
  margin-bottom: $margin-bottom;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: $margin-bottom-large;
    padding-bottom: 2em;
    padding-top: 2em;
  }
}
