.header {
  @include margin-bottom();
  background: $header-background;
  padding-bottom: 1em;
  padding-top: 1em;

  @include breakpoint('large') {
    padding-bottom: 2em;
    padding-top: 2em;
  }

  &.open {
    background: $menu-background;
  }
}
